<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lee1314.raylee.modules.lovetree.dao.LoveTreeDao">
	<resultMap id="BaseResultMap" type="com.lee1314.raylee.modules.lovetree.model.LoveTree">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="firstname" property="firstname" jdbcType="VARCHAR" />
		<result column="secondname" property="secondname" jdbcType="VARCHAR" />
		<result column="meettime" property="meettime" jdbcType="TIMESTAMP" />
		<result column="file_name" property="fileName" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, url, firstname, secondname, meettime, file_name, status, content
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from love_tree
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectByURL" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM love_tree
		WHERE url = #{url}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from love_tree
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.lee1314.raylee.modules.lovetree.model.LoveTree">
		insert into love_tree (id, url, firstname,
		secondname, meettime, file_name,
		status, content)
		values (#{id,jdbcType=BIGINT},
		#{url,jdbcType=VARCHAR}, #{firstname,jdbcType=VARCHAR},
		#{secondname,jdbcType=VARCHAR}, #{meettime,jdbcType=TIMESTAMP}, #{fileName,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER},
		#{content,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.lee1314.raylee.modules.lovetree.model.LoveTree">
		insert into love_tree
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="firstname != null">
				firstname,
			</if>
			<if test="secondname != null">
				secondname,
			</if>
			<if test="meettime != null">
				meettime,
			</if>
			<if test="fileName != null">
				file_name,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="firstname != null">
				#{firstname,jdbcType=VARCHAR},
			</if>
			<if test="secondname != null">
				#{secondname,jdbcType=VARCHAR},
			</if>
			<if test="meettime != null">
				#{meettime,jdbcType=TIMESTAMP},
			</if>
			<if test="fileName != null">
				#{fileName,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lee1314.raylee.modules.lovetree.model.LoveTree">
		update love_tree
		<set>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="firstname != null">
				firstname = #{firstname,jdbcType=VARCHAR},
			</if>
			<if test="secondname != null">
				secondname = #{secondname,jdbcType=VARCHAR},
			</if>
			<if test="meettime != null">
				meettime = #{meettime,jdbcType=TIMESTAMP},
			</if>
			<if test="fileName != null">
				file_name = #{fileName,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lee1314.raylee.modules.lovetree.model.LoveTree">
		update love_tree
		set url = #{url,jdbcType=VARCHAR},
		firstname = #{firstname,jdbcType=VARCHAR},
		secondname =
		#{secondname,jdbcType=VARCHAR},
		meettime = #{meettime,jdbcType=TIMESTAMP},
		file_name = #{fileName,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER}
		where id =
		#{id,jdbcType=BIGINT}
	</update>
</mapper>