<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee1314.raylee.modules.audio.dao.mapper.PeopleDailyMapper">
    <resultMap id="BaseResultMap" type="com.lee1314.raylee.modules.audio.pojo.entity.PeopleDaily">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="audio_play_time" jdbcType="VARCHAR" property="audioPlayTime"/>
        <result column="audio_url" jdbcType="VARCHAR" property="audioUrl"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
        <result column="share_url" jdbcType="VARCHAR" property="shareUrl"/>
        <result column="seminar_id" jdbcType="INTEGER" property="seminarId"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.lee1314.raylee.modules.audio.pojo.entity.PeopleDaily">
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, title, audio_play_time, audio_url, comment_count, share_url, seminar_id
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <select id="selectByExampleWithBLOBs"
            parameterType="com.lee1314.raylee.modules.audio.pojo.entity.example.PeopleDailyExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from people_daily
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.lee1314.raylee.modules.audio.pojo.entity.example.PeopleDailyExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from people_daily
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from people_daily
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from people_daily
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample"
            parameterType="com.lee1314.raylee.modules.audio.pojo.entity.example.PeopleDailyExample">
        delete from people_daily
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.lee1314.raylee.modules.audio.pojo.entity.PeopleDaily">
    insert into people_daily (id, title, audio_play_time, 
      audio_url, comment_count, share_url, 
      seminar_id, content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{audioPlayTime,jdbcType=VARCHAR}, 
      #{audioUrl,jdbcType=VARCHAR}, #{commentCount,jdbcType=INTEGER}, #{shareUrl,jdbcType=VARCHAR}, 
      #{seminarId,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.lee1314.raylee.modules.audio.pojo.entity.PeopleDaily">
        insert into people_daily
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="audioPlayTime != null">
                audio_play_time,
            </if>
            <if test="audioUrl != null">
                audio_url,
            </if>
            <if test="commentCount != null">
                comment_count,
            </if>
            <if test="shareUrl != null">
                share_url,
            </if>
            <if test="seminarId != null">
                seminar_id,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="audioPlayTime != null">
                #{audioPlayTime,jdbcType=VARCHAR},
            </if>
            <if test="audioUrl != null">
                #{audioUrl,jdbcType=VARCHAR},
            </if>
            <if test="commentCount != null">
                #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="shareUrl != null">
                #{shareUrl,jdbcType=VARCHAR},
            </if>
            <if test="seminarId != null">
                #{seminarId,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.lee1314.raylee.modules.audio.pojo.entity.example.PeopleDailyExample"
            resultType="java.lang.Long">
        select count(*) from people_daily
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update people_daily
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.title != null">
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.audioPlayTime != null">
                audio_play_time = #{record.audioPlayTime,jdbcType=VARCHAR},
            </if>
            <if test="record.audioUrl != null">
                audio_url = #{record.audioUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.commentCount != null">
                comment_count = #{record.commentCount,jdbcType=INTEGER},
            </if>
            <if test="record.shareUrl != null">
                share_url = #{record.shareUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.seminarId != null">
                seminar_id = #{record.seminarId,jdbcType=INTEGER},
            </if>
            <if test="record.content != null">
                content = #{record.content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update people_daily
        set id = #{record.id,jdbcType=INTEGER},
        title = #{record.title,jdbcType=VARCHAR},
        audio_play_time = #{record.audioPlayTime,jdbcType=VARCHAR},
        audio_url = #{record.audioUrl,jdbcType=VARCHAR},
        comment_count = #{record.commentCount,jdbcType=INTEGER},
        share_url = #{record.shareUrl,jdbcType=VARCHAR},
        seminar_id = #{record.seminarId,jdbcType=INTEGER},
        content = #{record.content,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update people_daily
        set id = #{record.id,jdbcType=INTEGER},
        title = #{record.title,jdbcType=VARCHAR},
        audio_play_time = #{record.audioPlayTime,jdbcType=VARCHAR},
        audio_url = #{record.audioUrl,jdbcType=VARCHAR},
        comment_count = #{record.commentCount,jdbcType=INTEGER},
        share_url = #{record.shareUrl,jdbcType=VARCHAR},
        seminar_id = #{record.seminarId,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.lee1314.raylee.modules.audio.pojo.entity.PeopleDaily">
        update people_daily
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="audioPlayTime != null">
                audio_play_time = #{audioPlayTime,jdbcType=VARCHAR},
            </if>
            <if test="audioUrl != null">
                audio_url = #{audioUrl,jdbcType=VARCHAR},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="shareUrl != null">
                share_url = #{shareUrl,jdbcType=VARCHAR},
            </if>
            <if test="seminarId != null">
                seminar_id = #{seminarId,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lee1314.raylee.modules.audio.pojo.entity.PeopleDaily">
    update people_daily
    set title = #{title,jdbcType=VARCHAR},
      audio_play_time = #{audioPlayTime,jdbcType=VARCHAR},
      audio_url = #{audioUrl,jdbcType=VARCHAR},
      comment_count = #{commentCount,jdbcType=INTEGER},
      share_url = #{shareUrl,jdbcType=VARCHAR},
      seminar_id = #{seminarId,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.lee1314.raylee.modules.audio.pojo.entity.PeopleDaily">
    update people_daily
    set title = #{title,jdbcType=VARCHAR},
      audio_play_time = #{audioPlayTime,jdbcType=VARCHAR},
      audio_url = #{audioUrl,jdbcType=VARCHAR},
      comment_count = #{commentCount,jdbcType=INTEGER},
      share_url = #{shareUrl,jdbcType=VARCHAR},
      seminar_id = #{seminarId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>