<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>生成页面</title>
<link type="text/css" rel="stylesheet" th:href="@{/project/layui/css/layui.css}" />
<script type="text/javascript" th:src="@{/project/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/census.js}"></script>
<style type="text/css">
.filename {
	display: none;
}
</style>
</head>
<body>
	<div class="layui-main	">
		<form id="form" class="layui-form" th:action="@{/lovetree/add}" method="post">
			<input type="hidden" id="file" name="fileName" />
			<div class="layui-form-item">
				<label class="layui-form-label">链接</label>
				<div class="layui-form-mid layui-word-aux"
					th:text="${#request.getScheme()+ '://'+ #request.getServerName()+ ':'+ #request.getServerPort()+ #request.getContextPath()+ '/lovetree/'}"></div>
				<div class="layui-input-inline">
					<input type="text" name="url" id="url" required lay-verify="required" placeholder="请输入链接" autocomplete="off" class="layui-input" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">你的姓名</label>
				<div class="layui-input-block">
					<input type="text" name="firstname" id="firstname" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">他(她)的姓名</label>
				<div class="layui-input-block">
					<input type="text" name="secondname" id="secondname" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">相遇日期</label>
				<div class="layui-input-inline">
					<input type="text" name="meettime" id="meettime" required lay-verify="required" placeholder="请选择日期" autocomplete="off" class="layui-input" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">背景音乐</label>
				<div class="layui-input-inline">
					<button type="button" class="layui-btn" id="upload">
						<i class="layui-icon">&#xe67c;</i> 上传音乐
					</button>
					<label class="layui-word-aux filename">背景音乐</label>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label"> 留言寄语 </label>
					<div class="layui-input-inline" style="margin-right: 0;">
						<input type="text" name="content" id="content" required lay-verify="required" placeholder="请输入内容(不超过20个字符)" autocomplete="off" class="layui-input" maxlength="20" />
					</div>
					<div class="layui-form-mid" style="margin-right: 0; padding: 0 !important;">
						<button class="layui-btn">
							<i class="layui-icon">&#45;</i> 刪除
						</button>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label"> </label>
					<div class="layui-input-inline" style="margin-right: 0;">
						<input type="text" name="content" id="content" required lay-verify="required" placeholder="请输入内容(不超过20个字符)" autocomplete="off" class="layui-input" maxlength="20" />
					</div>
					<div class="layui-form-mid" style="margin-right: 0; padding: 0 !important;">
						<button class="layui-btn">
							<i class="layui-icon">&#43;</i> 添加
						</button>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="submit">提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
	//表单
	layui.use('form', function() {
		var form = layui.form;

		//监听提交
		form.on('submit(submit)', function(data) {
			return true;
		});
	});

	//日期
	layui.use('laydate', function() {
		var laydate = layui.laydate;

		//执行一个laydate实例
		laydate.render({
			elem : '#meettime', //指定元素
			type : 'datetime' //指定选择器类型
		});
	});

	//文件上传
	layui.use('upload', function() {
		var upload = layui.upload;
		var pop;
		//执行实例
		var uploadInst = upload.render({
			elem : '#upload', //绑定元素
			url : '[[@{/lovetree/upload/}]]', //上传接口
			accept : 'audio', //允许上传文件类型
			acceptMime : 'audio/*', //打开弹窗筛选类型
			multiple : false,
			before : function(obj) {
				pop = layer.load();
			},
			done : function(res) { //上传完毕回调
				layer.close(pop);
				$('#file').val(res.data);
				$('#filename').html(res.data);
				$('#filename').show();
			},
			error : function(res) { //请求异常回调
			}
		});
	});
</script>
</html>